.homepage-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage-body h1 {
  text-align: center;
}

@media only screen and (min-width: 992px) {
  #homepage-img { width: 35%;}
}

@media only screen and (min-width: 1300px) {
  #homepage-img { width: 30%;}
}

@media only screen and (min-width: 768px) {
  #homepage-img  { width: 25%;}
}


@media (max-width: 600px) {

  #homepage-img  {
    width: 350px;
  }



}
