.checkout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkout-btn {
  font-family: Satoshi-Bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  border-radius: 75px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
}

.checkout-btn:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
}

h2 {
  font-family: Satoshi-Bold;
}

.full-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 10px; */
  align-items: center;
}

.empty-cart {
  font-size: 72px;
  margin-top: 10rem;
}

.checkout-total {
  font-family: Satoshi-Bold;
  align-items: center;
  gap: 3rem;
  display: flex;
}

.total {
  font-size: 32px;
}


@media only screen and (max-width: 600px) {
  .cart-item {
    margin-left: 500px;
    margin-right: 500px;
  }
}


@media only screen and (max-width: 1000px) {
  .cart-item {
    margin-left: 100px;
    margin-right: 100px;
  }
}






@media (max-width: 600px) {

  .cart-item {
    font-size: larger;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;

    direction: rtl;
    margin: 50px;
    gap: 10px;
  }

  .plus-minus {
    order: -1;
   }
 

  .checkout-container > h2  {
    font-size: 30px
  }

  .checkout-container > a  {
    font-size: 20px;
    /* text-decoration: underline; */
  }


}

