.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  font-family: Satoshi-Bold;
}

.contact a img {
  width: 50px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .contact img {
    width: 350px;
  }

}

@media only screen and (min-width: 992px) 
{
  .contact img {
    width: 500px;
  }

}




@media (max-width: 600px) {

.contact img {
  width: 300px;
}

.contact a img {
  width: 40px;
}


}