body {
  margin: 0;
  padding: 0;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@font-face {
  font-family: Satoshi-Bold;
  src: url(/public/assets/Satoshi-Bold.ttf);
}

@font-face {
  font-family: Satoshi-Regular;
  src: url(/public/assets/Satoshi-Regular.ttf);
}

@font-face {
  font-family: Satoshi-Medium;
  src: url(/public/assets/Satoshi-Medium.ttf);
}

@font-face {
  font-family: Satoshi-Regular;
  src: url(/public/assets/Satoshi-Regular.ttf);
}

a {
  text-decoration: none;
  color: inherit;
  font-family: Satoshi-Bold;
}

p,
h3 {
  font-family: Satoshi-Bold;
}

h1 {
  font-family: Satoshi-Bold;
}



@media screen and (min-width: 720px) {
  .shoping-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 720px) {
  .shoping-grid {
    grid-template-columns: 1fr;
  }
}

.btn {
  font-family: Satoshi-Bold;
  display: flex;
  /* flex-direction: column; */
  gap: 4.5rem;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  user-select: none;
  border: 1px solid;
  padding: 0.175rem 0.50rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;

  transition: 0.2s ease-in-out;
}



.btn:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  box-shadow: 0 5px 10px rgba(205, 195, 212, 0.4);
}

.btn:active {
 transform: scale(1.05);
}














@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




/* .product-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-self: flex-start */
/* } */ 

/* .card-pricebox {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  font-size: 1rem;

  padding: 1%;

  display: flex;
  align-items: center;
  gap: 10px;
} */
