.cart-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
  
    background-color: rgb(198, 219, 197);
    margin: 50px;
    padding: 1rem;
  }
  
  .cart-item img {
    width: 100%;
    justify-self: start;
  }



  .plus-minus {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  .plus-minus p{
    font-size: 1.5rem;
  }

  .plus-minus svg {
    /* background-color: aquamarine; */

    width: 1rem;
  }
  
  