.nav-title {
    font-family: "Times New Roman", Times, serif;
    font-weight: 400;
    font-size: 32px;
    padding: 10px;
  }
  
  .navbar h3 {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 32px;
    margin: 10px;
  
    padding-left: 1rem;
  }
  
  
  
  .navbar {
    background-color: white;
    width: 200vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  
  .navbar a:hover {
    transition-duration: 100ms;
    transform: scale(1.1);
  }


.checkout-icon {
  display: flex;
  gap: 1rem;
}