.nav-title {
    font-family: "Times New Roman", Times, serif;
    font-weight: 400;
    font-size: 32px;
    padding: 10px;
  }
  
  .navbar h3 {
    font-size: 32px;
    margin: 10px;
  
    padding-left: 1rem;
  }
  
  
  .navbar {
    position: sticky;
    top: 0;
    background-color: white;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  
  .animateHover {
    display: inline-block;
    position: relative;
    color: #000000;
  }


  .animateHover:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  }

  .animateHover:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


.checkout-icon {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 600px) {
  .nav-title
    {
      font-size: 12px;
      padding: 0
  } 
.navbar {
  grid-template-columns: auto;
  grid-gap: 1rem;
  position: relative;
  
}



}



