name: Shopping Cart Photography Website

on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Shopping Cart
        uses: actions/checkout@v3
      - name: Setup Node
        run: npm run build
      - name: Deploy to GH Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_dir: ./.output/public
          github_token: ${{ secrets.GITHUB_TOKEN }}