name: name: CI/CD FOR SHOPPING CART
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
      steps:
      name: Setup node
      uses: actions/setup-node@v3
      with:
         node-version: 16
      name: Install dependencies
      run: npm install   


      name: Deploy
      run: |
        git config --global user.name $user_name
        git config --global user.email $user_email
        git remote set-url origin https://${github_token}@github.com/${repository}
        npm run deploy
      env:
        github_token: ${{ secrets.ACTIONS_DEPLOY_ACCESS_TOKEN }}
        repository: ${{ github.repository }}