body {
  margin: 0;
  padding: 0;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards
}

@font-face {
  font-family: Satoshi-Bold;
  src: url(./Satoshi-Bold.ttf);
}

@font-face {
  font-family: Satoshi-Regular;
  src: url(./Satoshi-Regular.ttf);
}

@font-face {
  font-family: Satoshi-Medium;
  src: url(./Satoshi-Medium.ttf);
}

@font-face {
  font-family: Satoshi-Regular;
  src: url(./Satoshi-Regular.ttf);
}

a {
  text-decoration: none;
  color: inherit;
  font-family: Satoshi-Bold;
}

p,
h3 {
  font-family: Satoshi-Bold;
}

.nav-title {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 32px;
  padding: 10px;
}



.checkout-icon {
  display: flex;
  gap: 1rem;
}

.navbar {
  background-color: white;
  width: 200vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;
}



.navbar a:hover  { 
  transition-duration: 100ms;
  transform: scale(1.1);
  }


.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-family: Satoshi-Bold;
}

.contact a img { width: 50px;}

.contact img { width: 400px;}
.img-home:hover {
  transition: 0.2s ease-in-out;
  cursor: crosshair;
}

.img-home {
  flex-grow: 0;
  justify-self: start;
}



.navbar h3 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 32px;
  margin: 10px;

  padding-left: 1rem;
}

.card {
  display: flex;
  margin: 10px;
  background-color: #fff;
  justify-content: center;
  min-width: 0;
  flex-direction: column;
  background-clip: border-box;
  /* border-radius: 0.25rem; */
}

.shoping-grid {
  /* --sides: 5rem; */
  display: grid;
    
  height: 100%;
  width: 100%;
  padding-top: 1rem;
grid-template-columns: repeat(3, 1fr); 

  
}


@media screen and (min-width: 720px) {
  .shoping-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 720px) {
  .shoping-grid {
    grid-template-columns: 1fr;
  }
}


.btn {
  font-family: Satoshi-Bold;
  display: flex;
  /* flex-direction: column; */
  gap: 4.5rem;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: rgb(255, 255, 255);
  user-select: none;
  border: 1px solid;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;

  transition: 0.2s ease-in-out;
}

.btn-home {
  /* flex-grow: 1; */
  /* padding: 50px; */
  background-color: black;
}

#homepage-img {
  margin-left: 100px;
  width: 30%;
}

.title-background {
  z-index: -3;
  width: 100%;
  height: 100%;
  bottom: 0.0001rem;
  position: absolute;
}

.homepage-body {
  margin-top: 5rem;

  display: flex;
  /* grid-template-columns: repeat(2, 1fr); */
  /* grid-template-rows: repeat(2, 1fr); */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Satoshi-Bold;
}



.btn:hover {
  cursor: crosshair;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 0 5px 10px rgba(205, 195, 212, 0.4);
}

.btn-home:hover {
  box-shadow: 0 5px 10px rgba(205, 195, 212, 0.4);
  background-color: white;
  color: rgb(0, 0, 0);
}



.cart-item img {
  width: 200px;
}

.checkout-container {


display: flex;
flex-direction: column;
padding: 200PX;
}


.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(217, 228, 217);
  box-shadow: 4px 0.5px 1px #000000;
  margin: 10px;

}

.cart-item img {
  justify-self: start;
}

.card-img {

  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.card-img :after {
  background-color: aqua;
}

.card-body {
  display: flex;
  padding: 10px;
}




.card-title {
  font-size: 1.1rem;
}

.product-page-container {
  font-family: Satoshi-Bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-img {
  width: 50%;
}

.product-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-self: flex-start */
}

.card-pricebox {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  font-size: 1rem;

  padding: 1%;
  /* border: 1px black solid; */
  display: flex;
  align-items: center;
  gap: 10px;
}
